

.list-menu--disclosure-2{
    margin-left: calc(100% - 15px);
    z-index: 2;
    top: -5px;
}

.list-menu--disclosure:focus {
    outline: none;
}

.list-menu--disclosure.localization-selector {
    max-height: 18rem;
    overflow: auto;
    width: 10rem;
    padding: 0.5rem;
}
